@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  list-style: none;
  box-sizing: border-box;
}

main {
  background-color: #f1f1f1;
}

h1 {
  font-weight: bold;
  padding-top: 50px;
  text-align: center;
  font-size: 3rem;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}
header .navBar {
  background: #293462 !important;
  font-size: 20px;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  padding: 5px;
}
header .navBar .logo {
  width: 150px;
}
header .navBar .logo:hover {
  transform: scale(1.05);
}
header .navBar .navbar-toggler {
  border: solid white;
}
header .navBar .listPrin {
  display: flex;
  flex-wrap: wrap;
}
header .navBar .listPrin .itemPrin a {
  color: white !important;
  font-family: 15px;
  text-decoration: none;
  font-weight: bolder;
  padding: 5px;
  margin: 5px;
}
header .navBar .listPrin .itemPrin a:hover {
  color: #FEB139 !important;
  transform: scale(1.05);
}
header .navbar-expand-lg .navbar-collapse {
  flex-direction: row-reverse;
}

main {
  background-color: #f1f1f1;
}

h1 {
  font-weight: bold;
}

.banner {
  width: 100%;
  /* overflow: hidden; */
}

.banner img {
  max-width: 100%;
}

main p {
  margin: 25px 100px 25px 100px;
  text-align: center;
  font-size: 1rem;
}

main .contImgMain {
  text-align: center;
}

main .contImgMain .imgMain {
  /* display: block; */
  width: 100%;
}

main .textSub {
  text-align: center;
}

.clasesMain .card {
  text-align: center;
  margin: 20px;
}
.clasesMain .card-header {
  text-align: start;
  background-color: #293462;
  color: white;
}

.contContacto {
  background-color: #293462;
  padding: 10px;
  width: 33.33vw;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 0.8rem;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.contContacto label {
  width: 25vw;
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}

.contContacto input {
  /* text-align: center; */
  width: 25vw;
}

.contContacto textarea {
  text-align: center;
  width: 25vw;
}

.contContacto .btnEnviar {
  margin: 25px;
  padding: 10px;
  background-color: #fff;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.gridContainer img {
  /* width: 90%; */
  margin: 10%;
  transform: all 300ms;
}

.gridContainer img:hover {
  transform: scale(1.15);
  position: relative;
}

.sombra {
  float: left;
  background-color: #FEB139;
  margin: 10px;
}

.contenedorShows {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

.contenedorShows .tituloDia {
  width: 250px;
  margin: 0 auto;
  margin-top: 25px;
  background-color: #293462;
  color: white;
  /* padding: 50px; */
  text-align: center;
  /* margin-top: 75px; */
  /* margin-left: 500px;
  margin-right: 500px; */
  /* border: solid; */
  border-radius: 1px 30px;
  font-size: 20px;
  animation-name: tituloCambiante;
  animation-duration: 2s;
  /* animation-iteration-count: infinite; */
}

.contenedorShows li {
  margin-top: 10px;
  font-size: 15px;
  list-style: none;
  text-align: center;
  animation-name: textoCambiante;
  animation-duration: 2s;
}

h3:hover {
  color: #FEB139 !important;
  transform: scale(1.05);
}

footer {
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
  padding: 15px;
  background-color: #293462;
}

footer .listFooter {
  display: flex;
  align-items: center;
  justify-content: right;
}

footer .listFooter .logoRed {
  margin: 25px 25px 25px;
}

footer p {
  color: #f1f1f1;
}

.logo {
  width: 250px;
}

@media (max-width: 950px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* 750px */
@media (max-width: 750px) {
  header .navBar {
    font-size: 15px;
  }
  header .navBar .logo {
    width: 150px;
  }
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .contContacto {
    width: 100%;
  }
  .contContacto input {
    width: 75vw;
  }
  .contContacto textarea {
    width: 75vw;
  }
  .contContacto .nombre {
    text-align: left;
  }
  .textPrinContacto {
    display: none;
  }
  footer {
    font-size: 10px;
    flex-direction: column;
    align-items: center;
  }
  footer img {
    display: none;
  }
  footer .listFooter .logoRed {
    display: flex;
    justify-content: space-between;
  }
  .gridContainer img:hover {
    transform: scale(1.15);
    position: relative;
  }
}

/*# sourceMappingURL=style.css.map */
