.clasesMain {
        .card {
            text-align: center;
            margin: 20px;
        }
        .card-header {
            text-align: start;
            background-color: #293462;
            color: white;
         }
    }
