.clasesMain {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    justify-items: center;

    .cont-curso img:hover {
        transform: scale(1.01);
        transition: 0.3s;
        position: relative;
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
        border-radius: 3px;

    }

    .card {
        text-align: center;
        margin: 20px;
        width: 75%;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

        &:hover {
            transform: scale(1.01);
            transition: 0.3s;
            position: relative;

        }
    }

    .card-header {
        text-align: start;
        background-color: #293462;
        color: white;
    }

    .card-body {
        .btn {
            @extend %estilo-btn;
            @include color-btn-fondo ($colorRojo);

        }
    }

}