@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    box-sizing: border-box;
}

main {
    background-color: #f1f1f1;
}
h1{
    font-weight: bold;
    padding-top: 50px;
    text-align: center;
    font-size: 3rem;
}