main {
    .banner {
        width: 100%;
        img {
            max-width: 100%;
        }
    }
    .contImgMain {
        .imgMain {
            width: 100%;
        }
    }
    .textSub {
        text-align: center;
    }  
}