@media (max-width: 950px) {
    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
    }


    header .navBar {
        font-size: 15px;
    }

    header .navBar .logo {
        width: 150px;
    }


    // le saque el hover al la list
    .itemPrin {
        a {
            color: white !important;
            font-family: 15px;
            text-decoration: none;
            font-weight: bolder;
            padding: 5px;
            margin: 5px;

        }


    }


    .gridContainer {
        grid-template-columns: repeat(1, 1fr);
    }

    .contContacto {
        width: 100%;
    }

    .contContacto input {
        width: 75vw;
    }

    .contContacto textarea {
        width: 75vw;
    }


    .contContacto .nombre {
        text-align: left;
    }

    .textPrinContacto {
        display: none;
    }

    footer {
        font-size: 10px;
        flex-direction: column;
        align-items: center;
    }

    footer img {
        display: none;
    }

    footer .listFooter .logoRed {
        display: flex;
        justify-content: space-between;
    }

    .gridContainer img:hover {
        transform: scale(1.15);
        position: relative;
    }
}

@media (max-width: 750px) {
    .cont-curso {
        display: none;
    }

    .btn-wsp {
        width: 63px;
        height: 63px;
        line-height: 66px;
    }
}

